/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

CSS Variables :root {
  --primary-color: green;
  --secondary-color: honeydew;
  --background-color: #333;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 300;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

button {
  background-color: honeydew;
  margin: 20px 20px 10px 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid greenyellow;
}

button:hover {
  background-color: greenyellow;
}

#game-and-rules-container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  max-height: 900px;
  margin-bottom: 50px;
  /* border: 3px solid orange; */
  overflow: hidden;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reset {
  position: absolute;
  top: 0px;
  left: 100px;
}

canvas {
  border: 2px solid green;
}

#rules {
  width: 83.75%;
  height: 290px;
  background-color: #333;
  color: honeydew;
  margin: auto;
  margin-top: 20px;
  transform: translateY(300px);
  transition: transform 1s ease-in-out;
}

#rules.show {
  transform: translateY(0px);
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}

p {
  font-size: 1.25rem;
  padding: 0 20px;
}

#rules-container {
  position: relative;
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
}

#show-rules {
  position: absolute;
  top: 0;
  right: 100px;
}

.close {
  position: absolute;
  bottom: 85px;
  right: 10px;
}
